.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  background-color: #ebe1e1;
  border-radius: 14px;
  
}
.title{
  color: rgb(140, 0, 255);
  text-align: center;
  border: 2px solid #9b9292;
  border-radius: 14px;
}
.email{
  max-width: 100% ;
}
h3{
  color: rgb(29, 117, 88);
}